.contenedor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tramos {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
}

.tramos label {
	width: 100%;
	text-align: center;
}
